@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:wght@100&display=swap");
header nav {
  background-color: #EEEDED; }
  header nav li {
    transition: 0.3s; }
    header nav li:hover {
      background-color: #E6B646;
      border-radius: 8px;
      transform: translate(0, -5px); }

main {
  background-color: #E6B646; }
  main .mainBox {
    background-color: #EEEDED; }
  main .card {
    transition: 0.3s; }
    main .card:hover {
      background-color: #CAC9C9;
      border-radius: 15px; }
  main .form-text {
    font-style: italic; }
  main .form-control {
    transition: 0.3s; }
    main .form-control:focus {
      background-color: #CAC9C9; }

footer {
  background-color: #EEEDED; }
  footer div img {
    transition: 0.3s; }
    footer div img:hover {
      background-color: #E6B646;
      border-radius: 8px;
      margin: 0px 5px; }

* {
  font-family: 'Noto+Sans', sans-serif;
  text-decoration: none;
  color: #2f2a29; }
