@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:wght@100&display=swap');

/* BODY CONTENT */

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    height: 100vh;
    box-sizing: border-box;
}

* {
    font-family: 'Noto+Sans', sans-serif;
    text-decoration: none;
    color: #2f2a29;
    margin: 0;
    padding: 0;
}

/* HEADER CONTENT */

header {
    grid-area: header;
    height: 110px;
}

.header {
    background: linear-gradient(90deg, rgba(230,182,70,1) 0%, rgba(218,148,31,1) 100%); 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.imagenLogo {
    width: 260px;
    padding: 0px 20px;
}

.headerLinks {
    height: 40px;
    width: 800px;
    padding: 0px 20px;
}

.headerLinks ul {
    display: flex;
    flex: row;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    color: #2f2a29;
}

.headerSingleLink {
    color: #2f2a29;
    opacity: 0.5;
    transition: 0.3s;
}

.headerSingleLink:hover {
    opacity: 1;
}


/* MAIN CONTENT */

main {
    grid-area: main;
    height: 100%;
    background-image: url(../img/homeBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    }


/* MAIN CONTENT - HOME */

.mainHome {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    }

.homeTexto {
        order: 2;
        padding: 0px 20px;
        width: 45%;
    }

.homeImagen {
        order: 1;
        padding: 0px 20px;
        display: flex;
        align-items: flex-start;
        width: 45%;
    }

.homeImagen img {
    object-fit: contain;
    width: 100%;
}

.homeContenido {
    padding: 10px;
}

.homeContenido img {
    width: 50px;
}

/* MAIN CONTENT - QUIENES SOMOS */

.mainQuienes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    }

.mainQuienesContent {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 40px;
}

.mainQuienesContent div {
    width: 50%;
}

.mainQuienesContent img {
    object-fit: contain;
    width: 50%;
    padding: 0px 30px;
}

.mainQuienesContent div {
    order: 2;
}

.mainQuienesContent div p {
    padding: 10px 0px;
}

.mainQuienesContent img {
    order: 3;
}

.mainQuienesContent iframe {
    order: 1;
    object-fit: contain;
    width: 50%;
    padding: 0px 30px;
}

/* MAIN CONTENT - CURSOS */

.mainCursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.mainCursosTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 22px;
}

.mainCursosTitulo h2 {
    padding-bottom: 22px;
}

.mainCursosLista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    width: 80%;
}

.mainCursosItems{
    display: flex;
    align-items: flex-start;
    padding: 22px 0px;
    width: 100%;
}

.mainCursosItems img {
    width: 50%;
}

.imagenPrt {
    order: -2;
}

.mainCursosIdiomas {
    display: flex;
    flex-direction: column;
    padding: 0px 22px;
    order: 0;
}

.mainCursosIdiomas h4 {
    padding-bottom: 20px;
}

/* MAIN CONTENT - CLASES */

.mainClases {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainClasesContent {
    width: 70%;
    margin: 10px;
}

.mainClasesLista {
    display: flex;
    list-style-type: none
}

.mainClasesListaItems {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    height: auto;
    width: 30%;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #cac9c9;
    opacity: 0.5;
}

.mainClasesListaItems:hover {
    opacity: 1;
    border-radius: 20px;
    width: 35%;
}

/* MAIN CONTENT - TRADUCCIONES */

.mainTraducciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.mainTraducciones p {
    padding: 22px 0px;
}

.mainTraducciones img {
    width: 50%;
    padding: 22px 0px;
}

/* MAIN CONTENT - CONTACTO */

.mainContacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.mainContacto img {
    width: 70%;
}

.mainContactoForm {
    width: 50%;
    padding-right: 22px;
}

.mainContactoForm form {
    /* background-color: #cac9c9; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.mainContactoForm h2 {
    padding-bottom: 22px;
}

.mainContactoFormBg {
    background-color: rgba(202, 201, 201, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.mainContactoForm form input {
    margin-bottom: 22px;
    height: 1.5rem;
}

.mainContactoForm form label {
    padding-bottom: 10px;
}

.mainContactButton {
    font-family: 'Noto+Sans', sans-serif;
    font-size: 1.3rem;
    background-color:#cac9c9;
    color: #2f2a29;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

/* FOOTER CONTENT */

footer {
    background: linear-gradient(90deg, rgba(230,182,70,1) 0%, rgba(218,148,31,1) 100%); 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    grid-area: footer;
}

.imagenLogoFooter {
    height: 50px;
    padding: 0px 20px;
}

.redesFooter {
    width: 120px;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}

.imagenRedesFooter {
    height: 20px;
    transition: 0.3s;
}

.imagenRedesFooter:hover {
    transform: scale(1.5);
}

/* MEDIA QUERIE MIN 1060px */


@media screen and (max-width: 1060px) {
    
    body {
        grid-template-rows: 170px auto 80px;
    }

    header {
        height: 180px;
    }

    .header {
        align-items: flex-start;
        justify-content:space-between;
    }
    
    .imagenLogo {
        max-height: 150px;
        width: auto;
        padding: 10px;
    }

    .headerLinks {
        padding: 5px;
        align-items:center;
        width: auto;
        height: 100%;
    }

    .headerLinks ul {
        flex-direction: column;
        justify-content:space-between;
        height: 100%;
    }

    .headerLinks ul li {
        padding-top: 1px;
    }

    .headerSingleLink {
        padding: 0px;
    }

    /* MAIN CONTENT */

    main {
        background-size: contain;
    }



    /* MAIN CONTENT - HOME */

    .mainHome {
        width: 100%;
        padding-top: 20px;
    }

    .homeTexto {
        padding: 10px 0px;
        width: auto;
    }

    .homeImagen {
        padding: 10px 0px;
        width: auto;
        min-width: auto;
    }

    /* MAIN CONTENT - QUIENES SOMOS */

    .mainQuienes {
        width: auto;
        align-items: center;
    }

    /* MAIN CONTENT - CURSOS */

    .mainCursos {
        width: 90%;
        padding-top: 20px;
    }

    .mainCursosLista {
        width: 100%; 
    }

    .mainCursosItems {
        flex-direction: column;
        align-items: center;
    }

    .mainCursosItems img {
        max-width: 300px;
        width: 80%;
        padding: 20px 0px;
    }

    .imagenPrt {
        order: 2;
    }

    /* MAIN CONTENT - CLASES */

    .mainClases {
        width: 95%;
        padding-top: 20px;
    }

    /* MAIN CONTENT - TRADUCCIONES */

    .mainTraducciones {
        padding-top: 20px;
    }

    /* MAIN CONTENT - CONTACTO */

    .mainContacto {
        width: 90%;
        padding-top: 20px;
    }

    .mainContactoForm {
        max-width: 500px;
        padding-right: 0px;
    }

    .mainContacto img {
        padding-left: 10px;
    }

}


/* MEDIA QUERIE MIN 576px */


@media screen and (max-width: 768px) {
    
    /* HEADER */

    header {
        height: 275px;
    }

    body {
        grid-template-rows: 265px auto 80px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
    }
    
    .imagenLogo {
        padding: 0px 6px;
        max-height: 120px;
    }

    .headerLinks {
        padding: 0px 0px 10px 10px;
        align-items:center;
        width: auto;
    }

    .headerLinks ul {
        flex-direction: column;
        padding: 0px;
    }


    /* MAIN CONTENT */

    main {
        background-size: auto cover;
        background-position: 50%;
        padding: 0px;
        font-size: 1rem;
    }
    
    /* MAIN CONTENT - HOME */

    .mainHome {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding-top: 20px;
    }

    .homeTexto {
        padding: 10px 0px;
        width: auto;
        order: 1;
    }

    .homeImagen {
        padding: 10px 0px;
        width: 70%;
        order: 2;
    }

    /* MAIN CONTENT - QUIENES SOMOS */

    .mainQuienes {
        width: auto;
    }

    .mainQuienesContent {
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }

    .mainQuienesContent div {
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainQuienesContent img {
        width: 100%;
    }

    .mainQuienesContent iframe {
        width: 100%;
        order: 3;
        padding: 0px 10px;
    }

    /* MAIN CONTENT - CURSOS */

    .mainCursos {
        width: 90%;
        padding-top: 20px;
    }

    /* MAIN CONTENT - CLASES */

    .mainClases {
        width: 90%;
        padding-top: 20px;
    }

    .mainClasesContent {
        width: 100%;
        margin: 0px;
        padding: 10px 0px;
        flex-direction: column;
    }

    .mainClasesLista {
        flex-direction: column;
        align-items: center;
    }

    .mainClasesListaItems {
        width: 100%;
        opacity: 1;
        margin: 10px;
    }

    .mainClasesListaItems li h4 {
        padding-bottom: 10px;
    }

    .mainClasesListaItems:hover {
        width: 100%;
        border-radius: 15px;
    }

    /* MAIN CONTENT - TRADUCCIONES */

    .mainTraducciones {
        width: 90%;
        padding-top: 20px;
    }

    .mainTraducciones img {
        width: 100%;
    }

    /* MAIN CONTENT - CONTACTO */

    .mainContacto {
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }

    .mainContacto img {
        padding-top: 22px;
        width: 100%;
    }

    .mainContactoForm {
        width: 100%;
        padding-right: 0px;
    }

    .mainContactoForm h2 {
        text-align: center;
    }
    .mainContacto {
        width: 90%;
    }

}