@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:wght@100&display=swap');

/* BODY CONTENT */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

* {
    font-family: 'Noto+Sans', sans-serif;
    text-decoration: none;
    color: #2f2a29;
    margin: 0;
    padding: 0;
}

/* HEADER CONTENT */

.header {
    background: rgb(230,182,70);
    background: linear-gradient(90deg, rgba(230,182,70,1) 0%, rgba(218,148,31,1) 100%); 
    height: 150 px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.imagenLogo {
    width: 260px;
    padding: 0px 20px;
}

.headerLinks {
    height: 40px;
    width: 800px;
    padding: 0px 20px;
}

.headerLinks ul {
    display: flex;
    flex: row;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    color: black;
}

.headerSingleLink {
    color: #2f2a29;
    opacity: 0.5;
    transition: 0.3s;
}

.headerSingleLink:hover {
    opacity: 1;
}

/* MAIN CONTENT */

/* MAIN CONTENT - HOME */

main {
    background-image: url(../img/homeBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: flex;
    height: 100%;
    flex: row;
    justify-content: space-between;
    font-size: 1.5rem;
    }

.homeTexto {
        order: 2;
        padding: 0px 20px;
        width: 45%;
    }

.homeImagen {
        order: 1;
        padding: 0px 20px;
        display: flex;
        align-items: flex-start;
        width: 45%;
    }

.homeImagen img {
    object-fit: contain;
    width: 100%;
}

.homeContenido {
    padding: 10px;
}

/* MAIN CONTENT - CLASES */

.mainClases {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainClasesContent {
    width: 70%;
    margin: 10px;
}

.mainClasesLista {
    display: flex;
    list-style-type: none
}

.mainClasesListaItems {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #cac9c9;
    opacity: 0.5;
}

.mainClasesListaItems:hover {
    opacity: 1;
    border-radius: 20px;
    width: 35%;
}

/* MAIN CONTENT - QUIENES SOMOS */

.mainQuienes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 100px;
    margin: 0px 100px;
}

.mainQuienesContent {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 70%;
}

.mainQuienesContent div {
    width: 50%;
}

.mainQuienesContent img {
    object-fit: contain;
    width: 50%;
}

/* FOOTER CONTENT */

footer {
    background: linear-gradient(90deg, rgba(230,182,70,1) 0%, rgba(218,148,31,1) 100%); 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagenLogoFooter {
    height: 50px;
    padding: 0px 20px;
}

.redesFooter {
    width: 100px;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}

.imagenRedesFooter {
    height: 20px;
    transition: 0.3s;
}

.imagenRedesFooter:hover {
    transform: scale(1.5);
}