footer {
    background-color: $colorGrisDos;
    
    div {

        img {
            transition: 0.3s;
            border-radius: 20px;

            &:hover {
                background-color: $colorAmarilloUno;
                border-radius: 8px;
                margin: 0px 5px;
            }
        }
    }
}