// MAP Redes sociales footer

$mapRedes:(facebook: #3b5998, linkedin: #0e76a8, instagram:#E1306C);

@each $red, $color in $mapRedes {
    .#{$red} {
        background-color:$color;
    }
} 

// Map-get Copyright

$estiloCopy:(color:#343232, tamFuente:10px);

.copyright {
    color: map-get($map: $estiloCopy, $key: color);
    font-size: map-get($map: $estiloCopy, $key: tamFuente);
}