@import "fuentes";
@import "variables";
@import "header";
@import "main";
@import "footer";
@import "maps";
@import "extend";
@import "mixin";

* {
    font-family: 'Noto+Sans', sans-serif;
    text-decoration: none;
    color: $colorNegroUno;
}


